@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
.inter-tight-700 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
  }

  .inter-tight-400 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
  }

  .inter-tight-600 {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
  }

  .poppins-700 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
 
  .space-grotesk-400 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .sora-400 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  /* Custom scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #c5c5c5 #f5f5f5;   /* Firefox: thumb color, track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 8px;
  border: 2px solid #f5f5f5; /* creates padding around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}